/* Global */

body {
	margin: 0px 0px 50px 0px;
	font-family: "lucida grande", Tahoma, Verdana, "BitStream vera Sans";
	font-size: 12px;
}

a {
	text-decoration: none;
}

a:hover: { text-decoration: underline; }

a img {
	border: none;
}

input[type=submit] {
	background: #EEE;
	cursor: pointer;
	padding: 3px 15px 3px 15px;
	font-size: 11px;
	border: 1px solid #D5D5D5;
	color: #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

/* ================================================================== */
/* 					content - START									  */
/* ================================================================== */

#content_logo {	
	padding-bottom: 15px;
	margin-top: 50px;
}

#content {
	font-size:16px;
	padding: 10px;
	width: 750px;
	border: 2px solid #78A7B5;		
	color: #FFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;		
}

#content td {
	padding: 5px 0px 5px 0px;
}

#content a {
	color:#ffffff;
	text-decoration:none;
}

#content a:hover{
    color:#CC6600;
    text-decoration: underline;	
}

#timespan {
	color:#000000;
	text-decoration:blink;
}
